[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
click = "*"
gunicorn = "*"
connexion = {extras = ["swagger-ui"]}
"flake8" = "*"
pyyaml = {git = "https://github.com/yaml/pyyaml.git", editable = true, ref = "4.2b1"}
sphinx = "*"
Jinja2 = ">=2.10.1"


[dev-packages]

"autopep8" = "*"
pytest = "*"
setuptools = "*"
codecov = "*"
pytest-cov = "*"


[requires]

python_version = "3.6"
